body {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.settings, .canvas {
    border: 5px solid black;
}

.canvas {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}


/*** SETTINGS ***/
.settings {
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.size-setting {
    display: flex;
    flex-direction: column;
}

.color-setting {
    display: flex;
}

.color-setting > div {
    display: flex;
    flex-direction: column;
}

/*** DYNAMIC ***/

.row {
    display: flex;
    flex: 1;
}

.square {
  flex: 1;
}