.canvas {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    margin: auto;
}

.row {
    display: flex;
    flex: 1;
}

.square {
  flex: 1;
}