* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 58, 80);
    min-height: 100vh;
    margin: 0;
    color: white;
}

h1 {
    flex: 1;
    align-self: center;
    font-size: 48px;
}

.sketchpad {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 48px;
}

/*** COMMON ***/

.settings, .canvas {
    border: 3px solid white;
}

/*** CANVAS ***/

.canvas {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}


/*** SETTINGS ***/

.settings {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 48px;
}

.size-setting {
    display: flex;
    flex-direction: column;
}

.reset-btn {
    align-self: center;
}

.color-setting {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.color-setting .color-sliders {
    display: flex;
    flex-direction: row;
}

.color-sliders > div {
    display: flex;
    flex-direction: column;
}

.picked-color-display {
    box-shadow: 0px 0px 5px grey;
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 8px;
}

.brush-options {
    display: flex;
    justify-content: center;
    gap: 24px;
}

button {
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 16px;
}
/*** FOOTER ***/

footer {
    align-self: center;
    padding: 12px;
}

/*** DYNAMIC ***/

.row {
    display: flex;
    flex: 1;
}

.square {
  flex: 1;
  box-sizing: border-box;
  border: 0.1px solid rgba(190, 189, 189, 0.158);
}

.selected-btn {
    background-color: green;
    transform: scale(1.1);
    box-shadow: 0 0 5px white;
}